@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  color: white;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-container{
  display: grid;
  grid-template-areas: 
  "header header"
  "aside main";
  grid-template-rows: 10% 90%;
  grid-template-columns: 30% 70%;
  height: inherit;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
